@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #FBEE64;
    
}
header{
    background-color: black;
    
    
    

}
header>h1{
    color: #FBE81A;
    font-family:'Bebas Neue', cursive; ;
    font-size: 91px;
    text-align: center;


}
header>p{
    color: #FBE81A;
    text-align: center;
    font-size: 35px;
    
}
main{
    margin: auto;
    min-width: 320px;
    max-width: 800px;
    background-color: white;
}