@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@1,700 & display=swap');

/** INICIO**/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #FBEE64;
    
}
    :root{
        --color-white: #0D0D0D;
        --color-dark1: #3e400156;
        --color-dark2: #6F7302;
        --color-dark3: #A0A603;
        --color-dark4: #EAF205;

    }




    /** parte inicial**/
    .topo-do-site{
        padding: 40px 4%;
    }
    .flex{
        display: flex;
    }

    .topo-do-site .flex{
        align-items: center;
        justify-content: center;
        gap: 90px;
    }
    .topo-do-site .txt-topo-site h1{
        color: var(--color-white);
        font-size: 42px;
        line-height: 40px;
    }
    .topo-do-site .txt-topo-site p{
        color: var(--color-white);
        margin: 40px 0px;

    }
    .btn-contato button{
        padding: 10px 40px;
        font-size: 18px;
        font-weight: 600;
        background-color: var(--color-dark4);
        border: 0;
        border-radius: 30px;
        cursor: pointer;
        transition: 2s;
    }
    .btn-contato button:hover{
        box-shadow: 0px 0px 8px var(--color-dark2);
        transform: scale(1.05);
    }
    .topo-do-site .img-topo-site img{
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
    }

    @keyframes flutuar{
        0%{
            top:0;

        }
        100%{
            top:30px;
        }
    }
    
/** especialidade**/
.especialidade{
    padding: 40px 4%;
}
.especialidade .flex{
    gap: 60px;
}
.interface h2 {
    color: var(--color-white);
    font-size: 29px;
}
.especialidade .especialidades-box{
    color: black;
    padding: 40px ;
    border: 2px solid black;
    margin-top: 45px;
    border-radius: 20px;
    transition: 2s;


}
.especialidade .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.438);
}
.especialidade .especialidades-box i{
    font-size: 70px;
    color: var(--color-dark4);
    
}
.especialidade .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0px;
}













    body{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
    }

    .logo{
        width: 100px;
    }
    .heder,
    .paginas{
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    .heder{
        background-color: var(--color-dark4);
        box-shadow: 1px 1px 4px var(--color-white);
        height: 3.5em;
        justify-content: space-between;
        padding: 0 10%;
        width: 80%;
    }
    .paginas{
        gap: 3em;
        

    }
    .paginas a{
    text-decoration: none;
    color: var(--color-dark2);
    transition: 1s;
    font-weight: bold;
    }
    .ativo{
       
        padding: 10px;
        border-radius: 10px;
    }
    .texto{
        
        padding-top: 5em;
        height: 100vh;
        transition: 1s;
    }
    picture{
       min-width: 300px;
       max-width: 600px;
       margin: auto;
       
        display: flex;
    }
    picture>img{
       
        width: 70%;
        margin: auto;
        

       
    }
   
      
        
    
    .inicio{
        background-color: var(--color-dark4);

       
        
    }
    .inicio>h1{
        background-color: #0D0D0D;
        color: #EAF205;
        width: 44vh;
        text-align: center;
       

    }
    .botão{
        background-color: transparent;
        border: none;
        color: var(--color-white);
        cursor: pointer;
        display: none;

    }
    @media (max-width: 768px) { 
        .botão{
            display: block;
        }
        

        
        
        .paginas{
            position: absolute;
            flex-direction: column;
            top: 0;
            background-color: var(--color-dark4);
            height: 100%;
            width: 35vw;
            padding: 1em;
            animation-duration: 1s;
            margin-left: -100vw;


        }
    }
   @keyframes showSidebar {
    from{margin-left: -100vw;}
     top{margin-left: -10vw;} 
   }/** LOCALIZAÇÃO**/
   .mapa{
    text-align: center;
    margin: auto;
    max-width: 400px;
    min-width: 300px;
    
   }
   .principal{
    background-color: var(--color-dark4);
    width: 100%;
    
   }
   
   
   @media (min-width: 1250px) { 
   .mapa{
    max-width: 800px;
    min-width: 800px;
   }
   .loca{
    width: 800px;
    height: 800px;
   }

}

   
   .veiculos>h1{
    color: var(--color-dark4);
    
   }
   .localização>a{
    background-color:var(--color-dark4) ;
    text-decoration: none;
    color: #0D0D0D;
   }

   .tituloc{
    background-color: var(--color-dark4);
     color: var(--color-white);
     padding: 60px;

   }
   
   .tituloc h1{
     text-align: center;
    
   }
   .tituloc p{
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
   }
   .contexto{
    background-color: var(--color-white);
    padding: 40px;
    color: white;
 
   }
   .contexto a{
    text-decoration: none;
    color: black;
   }
.numeros{
    background-color: var(
        --color-white
    );
    padding: 60px 0px;
    color: white;

 
    
    
}
.numeros p{
    font-size: 24px;
    margin: 17px 0px;
}
.principal{
    background-color: var(--color-dark4);
    padding: 50px 0px;
}
.principal h1{
    color: var(--color-white);
    text-align: center;
    font-size: 40px;
}
article h1{
    background-color: var(--color-dark4);
    padding: 40px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
article p{
    font-size: 20px;
}
main{
 background-color: rgb(255, 255, 255);
 color:rgb(0, 0, 0);
 
 
    
   
}
main>img{
    max-width: 600px;
    min-width: 300px;
    
}



.banner input, .img-mobile{
    display: none;
}

.banner-img{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.banner-img img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    display: none;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #EAF205;
}

#r1:checked ~ .nav-auto .auto-btn1, #r2:checked ~ .nav-auto .auto-btn2{
    background-color: #EAF205;
}

#r1:checked ~ .primeiro{
    margin-left: 0%;
}

#r2:checked ~ .primeiro{
    margin-left: -25%;
}
/**vendas**/
h1{
    text-align: center;
    font-family:'Poppins', sans-serif ;
    font-weight: bold;
}

h2{
    text-align: center;
    margin-bottom: 5rem ;
    font-size: 4rem;
    

}
.all-products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-dark3);
    font-family:'Merriweather Sans', sans-serif ;

}


.product{
    overflow: hidden;
    background-color: #ffffff ;
    color: #21201e;
    text-align: center;
    width: 240px;
    height: 340px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 2rem;
    
}
.product img{
    width: 250px;
    height: 200px;
    margin: 1rem;
    transition: all 0.3s;
    border-radius: 6px;
}
.product:hover img{
    scale: 1.1;
}

.product:hover{
    box-shadow: 5px 15px 25px #eeeeee;
}

.product a:link,.product a:visited{
    color: var(--color-dark5);
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-dark4);
    padding: 1.2rem 3rem ;
    border-radius: 1rem;
    margin-top: 1rem;
    transition: all 0.2s;

}
.product a:hover{
    transform: scale(1.1);
}
.product-price-index{
    background-color: orange;
    border-radius: 4px;
}
 /**footer**/ 
 footer{
    width: 100%;
    height: 150px;
    color: var(--color-dark5);
    background-color: var(--color-dark2);
    font-family:'Poppins', sans-serif ;
    font-weight: bold;
    
}
h1 img{
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#footer_content{
    background-color: var(--color-white);
    display: flex;
    grid-template-columns:  repeat(4,1fr);
    padding: 3rem 3.5rem;
    height: 100%;
   
}
#footer_contacts h1{
    margin-bottom: 0,75em;


}
#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}
#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-dark5);
    border-radius: 50%;
    text-decoration: none;
  transition: all 0.4s;
}
#footer_social_media .footer-link i{
    font-size: 1.25rem;

}
#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9,#ff2992,#ff9807);
}
#facebook{
    background-color: #4267b3;
}
#whatsapp{
    background-color: #25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75;
    list-style: none ;

}
.footer-list .footer-link{
    color: var(--color-dark5);
}
.footer-list .footer-link:hover{
    color: #7f37c9;
}
#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5em;

}
#footer_subscribe p{
    color: white;
}
#input_group{
    display: flex;
    align-items: center;
    background-color: var();
    border-radius: 4px;
}
#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}
#input_group button{
    background-color:#7f37c9 ;
    border: none;
    color: var(--color-dark3);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}
#input_group button:hover{
    opacity: 0.8;
}
#footer_copyright{
display: flex;
justify-content: center;
background-color: var(--color-dark4);
font-size: 0.9rem;
padding: 1.5rem;
font-weight: 100;
color: var(--color-dark5);   
font-family:'Poppins', sans-serif ;
}
@media screen and (max-width:768px) {

    #footer_content{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
@media screen and (max-width:426px) {

    #footer_content{
        grid-template-columns: repeat(1,1fr);
        padding: 3rem 2rem;
    }
}
